@tailwind base;
@tailwind components;
@tailwind utilities;

textarea
{
  resize: none;
}

.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 1;
  font-size: 11px;
}